name: CI Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. Pull the code from the repo
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Generate a unique tag based on the Git Commit
      - name: Set Short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      # 3. Set up the Python environment
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # 4. Authenticate with Docker Hub using our Secrets
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5. Use the Makefile "Golden Path" targets - Build and Push using the SHA as the version
      # We override the VERSION variable in the Makefile
      - name: Build, Test and Push Docker Image
        run: |
          make install
          make test
          make build VERSION=${{ steps.vars.outputs.sha_short }}
          make push VERSION=${{ steps.vars.outputs.sha_short }}

      # 6. THE CROSS-REPO BRIDGE (Manual GitOps Update)
      # We check out the INFRA repo using a Personal Access Token (PAT)
      - name: Update Infra Repo YAML
        if: github.event_name == 'push'
        run: |
          # 1. Clone the infra repo into a temp folder
          git clone https://x-access-token:${{ secrets.INFRA_REPO_PAT }}@github.com/diamondj1991/hello-world-infra.git infra-tmp
          
          # 2. Navigate to the infra repo
          cd infra-tmp
          
          # 3. Update the tag using yq
          # We use the SHA generated in step 2
          yq -i '.image.tag = "${{ steps.vars.outputs.sha_short }}"' charts/hello-world-app/values.yaml
          
          # 4. Git Housekeeping
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          
          # 5. Commit and Push back to the infra repo
          git add charts/hello-world-app/values.yaml
          git commit -m "chore: automated image update to ${{ steps.vars.outputs.sha_short }}"
          git push origin master
        